@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap&family=Oswald:wght@400;700&display=swap");

body {
    font-family: "Oswald", "Open Sans", sans-serif;
    background-color: $primary-color;
}

.footer {
    background-color: $third-color;
    &__title {
        color: $primary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title--lighter {
        font-weight: lighter;
        letter-spacing: 0.4rem;
    }

    &__title--through {
        text-decoration: line-through $secondary-color;
    }

    &__title--cross {
        width: 2%;
    }

    &__menu {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }

    &__menu--item {
        margin: 0;
        font-weight: lighter;
        letter-spacing: 0.4rem;
    }

    &__menu--item-through {
        text-decoration: line-through $secondary-color;
        font-weight: lighter;
        letter-spacing: 0.25rem;
        margin: 0;
    }

    &__nav {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 0;
    }

    &__nav--title {
        padding-left: 0;
        letter-spacing: 0.25rem;
    }

    .nav__list {
        color: $primary-color;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        padding-left: 0;
        letter-spacing: 0.1rem;
        font-weight: lighter;
    }

    &__sns {
    }

    .nav__list-item {
        text-decoration: none;
        color: inherit;
    }
}
